<div id="header">
<!-- 
	<div>
	<a href="index.php" class="left"><div id="logo" >&nbsp;</div></a>
	</div>
	<div class="clear"></div>
	<div>
		<div id="logotitle" class="left">The Social Network For Job</div>
		<h2 class="title left">为工作而存在的社交网络33</h2>
		<div class="right" style="margin-top: -16px;display:inline;">
			<table style='text-align:left;' width="100px">
			<tr>
			<td width="45%" style="word-wrap : break-word; overflow:hidden; "><a href="about/about.html" title="关于我们"><div class="icon_small icon_about"></div></a></td>
			<td width="10%">&nbsp;</td>
			<td width="45%"><a href="about/contact.html" title="联系我们"><div class="icon_small icon_msg"></div></a></td>
			</tr>
			</table>
		</div>
	</div> -->
</div>
<div class="clear"></div>