<script type="text/javascript">
	function set_cookie_lp(lp_str){
		document.cookie = "lp_name=" + escape(lp_str);
		window.location.reload();
	}
</script>
<div class="foot">
<a href="about/about.html" title="关于我们"><div class="icon_wp_small icon_about"></div></a>
<a href="about/contact.html" title="联系我们"><div class="icon_wp_small icon_msg"></div></a>
	{echo:$domainRemark;/}&nbsp;{echo:$copyright;/}
</div>
<div style="display: none;" class="emBg" id="face_list_menu"></div>
<div id="append_parent"></div>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff3da5760db6058d5ac7a456860ab1fcf' type='text/javascript'%3E%3C/script%3E"));
</script>
